<div>
  <div class="background"></div>
  <div class="favsSide">
    <div class="favHeaderContainer">
      <span class="favHeader">Favourite Facts</span>
    </div>
    <mat-list>
      <mat-list-item class="favRow" *ngFor="let fact of favouriteFacts" [value]="fact">
        {{fact}}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="textSide">
    <div class="mainText">
      <span>
        {{actualFact}}
      </span>
    </div>
  </div>
  <div class="buttonsSide">
    <div class="favButton">
      <app-button [disabled]="!actualFactId" width="100" color="#ff3933" text="Add to favourites" (onClick)="onPressAddFavourite()" [processing]="processingFavourite">
      </app-button>
    </div>
    <div class="buttons">

      <div class="container">
        <app-button text="Get random fact" (onClick)="onPressRandomFact()" [processing]="processingRandomFact">
        </app-button>
      </div>
      <div class="container">
        <app-button
          text="{{selectedCategory == '' ? 'Get random fact by category' : 'Get random ' + selectedCategory + ' fact'}}"
          (onClick)="onPressRandomCategoryFact()" [processing]="processingRandomCategoryFact"></app-button>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="onChangeCategory($event)">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container">
        <app-button text="Get fact matching with:" (onClick)="onPressFactByQuery()"
          [processing]="processingQueryFact"></app-button>
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput [(ngModel)]="queryText">
        </mat-form-field>
      </div>
    </div>

  </div>

</div>